h1 Carrot
= image_tag 'http://gpfarah.com/gpfarahcom/wp-content/uploads/2014/03/a91fc0717ec561863cdb2b78f375ed037dfbdfc1.jpg'

h2 Get an Invite
= form_tag add_user_path
  = email_field_tag :email
  = submit_tag 'invite user'

h2 Send a carrot
= link_to 'send a carrot', send_carrot_path

